# =========================================
# Build outputs
# =========================================

build/
dist/
bin/
out/

# compiled engine binaries
modulus
*.exe

# compiled modules
*.dll
*.so
*.dylib

# temporary hot-reload copies
*.tmp
*.temp
*.hotreload

# =========================================
# Odin cache / artifacts
# =========================================

*.odin.json
*.odin-build
*.odin-cache

# =========================================
# Logs
# =========================================

*.log

# =========================================
# OS junk
# =========================================

.DS_Store
Thumbs.db

# =========================================
# Editor / IDE files
# =========================================

.vscode/
.idea/
*.swp
*.swo
ols.json

# =========================================
# Local configuration
# =========================================

.env
.env.local
.local/

# =========================================
# LLM
# =========================================
.claude/
